.product-card{
    /* background-color: bisque; */
    padding: 10px;
}
img{
    object-fit: cover;
}
.add-btn{
    background-color: orange;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    border: none;
    margin:0px 2px;
}

.buy{
    background-color: rgb(255, 119, 0);
    padding: 10px 30px;
    color: white;
    border-radius: 5px;
    border: none;
    margin:0px 2px;
}
.input-group {
    width: 70%;
    height: 45px;
}
 .product-card{
 margin-left: 60px!important;
}

 @media (max-width:480px) {
    .product{
       align-items: center;
    }
 }